html, body { height: 100%; padding: 0; margin: 0; font-family: arial; }

.droppedImage1, .droppedImage2, .droppedImage3, .droppedImage0 {
  width: 50%; 
  height: 50%; 
  float: left;
}
.droppedImage0, .droppedImage3{
  background-color: #ccc;
}

#app {
/*  background-color: green;
  height: 50px;
  border: 1px solid blue;*/
}

.u_h100 {
  height: 100%;
}

.bap {
  background-color: red;
  height: 25px;
}

.imagesLayer {
  height: 100vh;
}

.centralElements {
  width: 100vw;
  height: 100vh;
  margin-bottom: -100vh;
  text-align: center;
}

.statement {
  padding-top: 30vh;
  font-size: 5vh;
  text-transform: lowercase;
  font-weight: 900;
  color: white;
}

.statement-word {
  cursor: pointer;
  background: blue;
}

.statementInput {
  position: absolute;
  bottom: 20vh;
  width: 60vw;
  padding-left: 20vw;
}

.statementInput-input {
  width: 100%;
  font-size: 5vh;
  background: blue;
  border: 0;
  text-align: center;
  color: white;
  overflow: scroll;
  height: 5.5vh;
  font-weight: 900;
  font-family: arial;
}

.droppedImage-img {
  width: 100%;
  height: 100%;
  background-size: cover;
}
